language: php

php:
  - 7.1
  - 7.2
  - nightly
  - hhvm

env:
  - DB=pgsql ADAPTER=pdo
  - DB=pgsql ADAPTER=zend1
  - DB=pgsql ADAPTER=zend2
  - DB=pgsql ADAPTER=doctrine2-dbal
  - DB=mysql ADAPTER=pdo
  - DB=mysql ADAPTER=zend1
  - DB=mysql ADAPTER=zend2
  - DB=mysql ADAPTER=doctrine2-dbal

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - mkdir -p build/logs
  - composer self-update
  - composer install --dev
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database stefano_tests;'; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'create database stefano_tests;' -U postgres; fi"

script:
  - vendor/bin/phpunit --configuration tests/phpunit.xml --coverage-php build/logs/clover-$DB-$ADAPTER.cov
  - vendor/bin/php-cs-fixer fix -v --diff --dry-run --allow-risky yes

after_success:
  - php vendor/bin/phpcov merge --clover build/logs/clover.xml build/logs
  - travis_retry php vendor/bin/php-coveralls
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm
