language: php
php:
  - "5.5"
  - "5.4"
  - "5.3"
before_script:
  - composer install --dev
  - mysql -e 'create database stefano_tests;'
script: phpunit --configuration tests/phpunit.xml --coverage-clover tests/clover.xml
after_script:
  - php vendor/bin/coveralls