<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="./bootstrap.php"
         cacheResultFile="./temp/cache/.phpunit.result.cache"
         executionOrder="depends,defects"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="true">
  <coverage cacheDirectory="./temp/cache/code-coverage"
            pathCoverage="true"
            processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
    <report>
      <html outputDirectory="./temp/codeCoverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>./StefanoTreeTest/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>./StefanoTreeTest/Integration</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
