<?php

declare(strict_types=1);

/**
 * Your custom DB connection settings
 */
if('mysql' == TEST_STEFANO_DB_VENDOR) {
    // define('TEST_STEFANO_DB_HOSTNAME', '127.0.0.1');
    // define('TEST_STEFANO_DB_DB_NAME', 'stefano_tests');
    // define('TEST_STEFANO_DB_USER', 'travis');
    // define('TEST_STEFANO_DB_PASSWORD', '');
} elseif('pgsql' == TEST_STEFANO_DB_VENDOR) {
    // define('TEST_STEFANO_DB_HOSTNAME', '127.0.0.1');
    // define('TEST_STEFANO_DB_DB_NAME', 'stefano_tests');
    // define('TEST_STEFANO_DB_USER', 'travis');
    // define('TEST_STEFANO_DB_PASSWORD', '');
} else {
    throw new \Exception(sprintf('Unsupported adapter "%s"', TEST_STEFANO_DB_VENDOR));
}