<?php
return array(
    'dbConnection' => array(
        'dbname' => 'stefano_tree_demo',
        'user' => 'root',
        'password' => '',
        'host' => 'mariadb',
        'driver' => 'pdo_mysql',
    )
);